@import url('<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">');

*{
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
nav.navbar{
    background-color: #223149;
    z-index: 100;
}
.nav-link:hover{
    background-color: #7ba79f;
    border-radius: 10px;
    padding-left: 10px;
}
.nav-togger{
    color: #fff !important; 
    border: none !important;
}
.icono{
    width: 8rem !important;
}
.container{
    text-decoration: none;
}
p.logo{
    font-family: 'Tangerine';
    color: white;
    font-size: 33px;
    margin-top: 10px;
    margin-left: 20px;
    font-style: italic;
}
p.logo:hover{
    font-size: 35px;
    text-shadow: 
    0 0 5px rgba(0, 178, 255, 1),
    0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1),
    0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1),
    0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1),
    0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
    cursor: pointer;
}
#jumbotron{
    width: 100%;
    height: 100vh !important;
}
#jumbotron .container{
    height: 100%;
}
#jumbotron h6{
    letter-spacing: 2px;
}
#jumbotron .sosmed a{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-custom {
    background-color: #7ba79f !important;
    border-color: #7ba79f !important;
    color: white;
  }
  
  .btn-custom:hover {
    background-color: #61837d !important;
    border-color: #61837d !important;
  }

/* Mis trabajos */
#works{
    width: 100%;
    background: #223149 ;
}
#works img{
    width: 100% !important;
    transition: transform .5;
}
#works img:hover{
    transform: scale(1.03);
}

/* Habilidades */
#skills{
    width: 100%;
}
#skills .col-md i{
    font-size: 8rem !important;
}
#skills .col-md .shadow{
    text-align: center;
    transition: transform .5s;
}
#skills .col-md .shadow:hover{
    transform: translateY(-.5rem);
}

/* Mis certificados */
#certificates{
    background: #223149;
    width: 100%;
}
.carousel-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: gainsboro; */
}

/* Contacto */
#contacto form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77%;
    margin: auto;
}
input[type="text"],input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #947fb8;
    font-size: 17px;
}
textarea{
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #947fb8;
    font-size: 17px;
    margin-bottom: 40px;
    width: 100%;
}
#contacto input[type="submit"]{
    width: 166px;
    margin: auto;
}

/* footer */
footer{
    width: 100%;
    background: #223149;
}
.link-footer{
    text-decoration: none;
    color: white;
}